*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: hsl(210, 36%, 96%);
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

section {
    width: 90vw;
    margin: 0 auto;
    max-width: ii70px;
    padding-top: 5rem;
}



.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.underline {
    width: 8rem;
    height: 0.25rem;
    background: #c59d5f;
    margin-left: auto;
    margin-right: auto;
  }

.item {
  padding: 5rem 0;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.filter-btn {
  background: transparent;
  border-color: black;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}


.main {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}



.boy {
    background-color: skyblue;
}

.girl {
    background-color: lightpink;
}